.button {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #990000;
    background-color: rgb(221, 189, 5);
    box-shadow: 
      -5px -5px 10px rgba(255, 255, 255, 0.3), 
      5px 5px 10px rgba(0, 0, 0, 0.3);
    animation: pulse 2s ease-out infinite;
  }
  
  .button:hover {
    background-color: #55ff00ae;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      box-shadow: 
        -5px -5px 10px rgba(255, 255, 255, 0.3), 
        5px 5px 10px rgba(0, 0, 0, 0.3), 
        0 0 0 0 rgba(14, 244, 2, 0.617);
    }
    70% {
      transform: scale(1.05);
      box-shadow: 
        -5px -5px 10px rgba(255, 255, 255, 0.3), 
        5px 5px 10px rgba(0, 0, 0, 0.3), 
        0 0 0 10px rgba(255, 208, 0, 0);
    }
    100% {
      transform: scale(1);
      box-shadow: 
        -5px -5px 10px rgba(255, 255, 255, 0.3), 
        5px 5px 10px rgba(0, 0, 0, 0.3), 
        0 0 0 0 rgba(246, 223, 118, 0);
    }
  }
  